In [1]:
import pandas as pd

In [7]:
# Load the data
file_path = 'src/data/global-energy-substitution.csv'
df = pd.read_csv(file_path)
df

,Entity,Code,Year,Other renewables,Biofuels,Solar,Wind,Hydropower,Nuclear,Gas,Oil,Coal,Biomass
0,World,OWID_WRL,1800,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000,97.000,5556
1,World,OWID_WRL,1810,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000,128.000,5833
2,World,OWID_WRL,1820,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000,153.000,6111
3,World,OWID_WRL,1830,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000,264.000,6389
4,World,OWID_WRL,1840,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000,356.000,6944
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,World,OWID_WRL,2018,1973.9960,1049.8936,1523.3044,3358.8267,11084.954,6855.4080,38355.830,53405.137,43795.400,11111
71,World,OWID_WRL,2019,2072.3691,1124.6016,1858.9540,3744.7256,11185.189,7071.7817,39058.266,53512.844,43534.613,11111
72,World,OWID_WRL,2020,2182.6973,1073.7583,2243.8350,4186.1810,11448.027,6776.8660,38603.406,48609.645,42233.390,11111
73,World,OWID_WRL,2021,2335.3115,1142.8717,2771.8290,4851.5940,11222.360,7037.0690,40670.660,51349.656,44564.812,11111
74,World,OWID_WRL,2022,2413.8076,1199.2067,3448.2373,5487.6000,11299.816,6702.3394,39413.043,52969.590,44854.035,11111

In [8]:
# Combine the specified columns into a new 'Renewables' column
df['Renewables'] = df[['Other renewables', 'Biofuels', 'Solar', 'Wind', 'Hydropower', 'Nuclear']].sum(axis=1)

# Display first few rows of the modified data
df.head()

,Entity,Code,Year,Other renewables,Biofuels,Solar,Wind,Hydropower,Nuclear,Gas,Oil,Coal,Biomass,Renewables
0,World,OWID_WRL,1800,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,97.0,5556,0.0
1,World,OWID_WRL,1810,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,128.0,5833,0.0
2,World,OWID_WRL,1820,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,153.0,6111,0.0
3,World,OWID_WRL,1830,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,264.0,6389,0.0
4,World,OWID_WRL,1840,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,356.0,6944,0.0

In [9]:
df.tail()

,Entity,Code,Year,Other renewables,Biofuels,Solar,Wind,Hydropower,Nuclear,Gas,Oil,Coal,Biomass,Renewables
70,World,OWID_WRL,2018,1973.9960,1049.8936,1523.3044,3358.8267,11084.954,6855.4080,38355.830,53405.137,43795.400,11111,25846.3827
71,World,OWID_WRL,2019,2072.3691,1124.6016,1858.9540,3744.7256,11185.189,7071.7817,39058.266,53512.844,43534.613,11111,27057.6210
72,World,OWID_WRL,2020,2182.6973,1073.7583,2243.8350,4186.1810,11448.027,6776.8660,38603.406,48609.645,42233.390,11111,27911.3646
73,World,OWID_WRL,2021,2335.3115,1142.8717,2771.8290,4851.5940,11222.360,7037.0690,40670.660,51349.656,44564.812,11111,29361.0352
74,World,OWID_WRL,2022,2413.8076,1199.2067,3448.2373,5487.6000,11299.816,6702.3394,39413.043,52969.590,44854.035,11111,30551.0070

In [ ]:
# Save the modified data
modified_file_path = 'src/data/global-energy-substitution-modified.csv'
df.to_csv(modified_file_path, index=False)